.cardContainer {
  display: flex;
  background-color: orange;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
  font-family: monospace;
  height: 10%;
  width: 60%;
  margin: 10px;
}

.card_player{
    width: 50%;
}

.points{
    font-size: 1.5em;
}

.buttonPack{
    display:flex;
    flex-direction: column;
}